@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --line-border-empty: #fff;
    --line-border-fill: #bd33a4;
}

body {
    background-color: #ffedcc;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: #e5d5b7;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.5s ease;
}

.circle {
    background-color: #fff;
    color: #bd33a4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px var(--line-border-empty) solid;
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    font-family: inherit;
    color: black;
    background-color: #e5d5b7;
    border: 2px var(--line-border-fill) solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    transform: 0.98;
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: #b2b2b2;
    opacity: 0.5;
}